<h2>Agregar Tipo Vehiculo</h2>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">guardar</button>
    </form>