
    <!DOCTYPE html>
    <html>
    <head>
    <meta charset="utf-8" />
    <title>Add a GeoJSON line</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.css" rel="stylesheet" />
    <style>
        body { margin: 0; padding: 0; }
        #map { position: absolute; top: 0; bottom: 0; width: 100%; }
    </style>
    </head>
    <body>
    <div id="map"></div>
    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoicnBpbmVkYWVjIiwiYSI6ImNqb2FlcHYxNTAwNDQzcG80ZGZleTg1d3cifQ.Xx2UbIQl-um-kuTkCE9ZbA';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [ -77.01733905094635,-12.07043518282293],
            zoom: 15
        });
    
        map.on('load', function () {
            map.addSource('route', {
                'type': 'geojson',
                'data': {
                    'type': 'Feature',
                    'properties': {},
                    'geometry': {
                        'type': 'LineString',
                        'coordinates': {% if latest_question_list %}
        [
        {% for question in latest_question_list %}
        [{{ question.posicion }}],
        {% endfor %}
        ]
    {% else %}
        <p>[]</p>
    {% endif %}
                    }
                }
            });
            map.addLayer({
                'id': 'route',
                'type': 'line',
                'source': 'route',
                'layout': {
                    'line-join': 'round',
                    'line-cap': 'round'
                },
                'paint': {
                    'line-color': '#888',
                    'line-width': 8
                }
            });
        });
    </script>
    
    </body>
    </html>